<style>
    .yotpo-banner-container{
        padding:30px 20px;
        background-image:url('https://cdn.shopify.com/s/files/1/0069/6470/7389/files/loyalty-pdp.jpg');
        background-position:center;
        background-size:cover;
        text-align:center;
    }

    @media screen and (min-width:750px){
       .yotpo-banner-container:not(.mobile-banner-only){
            padding:30px 20px;
            background-image:url('https://cdn.shopify.com/s/files/1/0069/6470/7389/files/loyalty-pdp-desktop.jpg');
            background-position:center;
            background-size:cover;
        } 
    }

    .yotpo-title{
        margin:0;
        font-size:35px;
        line-height:33px;
        letter-spacing:-1.05px;
        font-weight:400;
        color:#FFF;
    }

    .yotpo-description{
        margin:15px 0;
        font-size:23px;
        line-height:24px;
        letter-spacing:-0.69px;
        color:#fff;
    }
    
    .yotpo-buttons-wrapper.grid{
        justify-content:center;
        gap:10px!important;
    }

    .yotpo-buttons-wrapper .button{
        --color-link:0,0,0;
        --color-button:255, 255, 255;
    }

    @media screen and (max-width:400px){
        .yotpo-title{
            font-size:30px;
            line-height:28px;
            letter-spacing:-1px;
        }

        .yotpo-description{
            font-size:20px;
            line-height:21px;
            letter-spacing:-0.6px;
        }
    }
</style>

<div class='yotpo-banner-container {% if mobile_only %} mobile-banner-only{% endif %}'>
    <p class='yotpo-title'>
        The <br>
        Cliphair Collective
    </p>
    <p class='yotpo-description'>
        Earn points on every order - Join The Cliphair Collective today!
    </p>
    <div class='yotpo-buttons-wrapper grid'>
        <a href='/pages/rewards' id='yotpo-pdp-banner-join' title='Create an account' target='_blank' class='yotpo-button button'>Join Now</a>
    </div>
</div>