.available-shades__title {
	font-size: 1.7rem;
	line-height: 1.4em;
	letter-spacing: -2%;
	margin-bottom: 1.2rem;
}

.available-shades__list {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content:flex-start;
}

.available-shades__elements {
	width: calc((100% - 80px) / 9);
	box-sizing:border-box;
}

@media screen and (min-width:750px) and (max-width:989px){
	.available-shades__list {
		gap: .5rem;
	}

	/* Select any child that is NOT one of the first 7 */
	.available-shades__first-row > *:nth-child(n+8) {
		display: none;
	}

	.available-shades__elements {
		width: calc((100% - 30px) / 7);
		box-sizing:border-box;
	}
}

.available-shades__elements.selected {
	border: 1px solid black;
	pointer-events: none;
}

.available-shades__elements .shade-snippet {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	display: block;
}

.available-shades__elements.selected .shade-snippet {
	border: 3px solid white;
}

.available-shades__buttons {
	margin-top: 1.2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.available-shades__buttons > * {
	line-height: 1.4em;
	letter-spacing: -2%;
	font-size: 1.2rem;
	color: inherit;
	text-underline-offset: 0.3rem;
	text-decoration: underline;
}

.available-shades__buttons > summary svg {
	right: -2.25rem;
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.available-shades__buttons > summary[aria-expanded='true'] svg {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

/* Prevent scroll */
body.loader-open {
	overflow: hidden;
}

/* Loader overlay */
.fullscreen-loader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	background: rgba(255, 255, 255, 0.8); /* semi-transparent white */
	display: flex !important;
	align-items: center;
	justify-content: center;
}

/* Spinner */
.fullscreen-loader::after {
	content: '';
	width: 40px;
	height: 40px;
	border: 4px solid #ccc;
	border-top-color: #000;
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
