/* Section styles */
.quiz.visible {
  display: block !important;
}

.quiz .information-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.quiz .information-wrapper button[name='back'],
.quiz .information-wrapper button[name='reset'] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid transparent;
}

.quiz .information-wrapper button[name='back']:focus-visible,
.quiz .information-wrapper button[name='back']:hover,
.quiz .information-wrapper button[name='reset']:focus-visible,
.quiz .information-wrapper button[name='reset']:hover {
  outline: 0;
  box-shadow: none;
  border-color: inherit;
}

.quiz .information-wrapper button[name='back']:disabled,
.quiz .information-wrapper button[name='reset']:disabled {
  border-color: transparent;
  cursor: not-allowed;
}

.quiz .information-wrapper button[name='back'] .icon-arrow {
  transform: rotate(180deg);
}

.quiz .information-wrapper p {
  margin: 0;
  padding: 0;
}

.quiz .question-wrapper h2,
.quiz .title-wrapper h2 {
  margin-top: 0;
}

/* Questions */
.section-quiz-question slider-component {
  position: relative;
}

.section-quiz-question .answer-card {
  cursor: pointer;
}

.section-quiz-question .answer-card .card__content {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  height: 100%;
}

.section-quiz-question .card__information {
  margin-top: 0;
}

.section-quiz-question .answer-card h3 {
  width: 100%;
  max-width: unset;
  box-sizing: border-box;
  margin-top: 0;
  text-align: left;
  letter-spacing: -0.72px;
  line-height: 1.1em;
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.section-quiz-question .answer-card h3:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  width: 100%;
}

.section-quiz-question .answer-card:hover img {
  transform: scale(1.03);
}

.section-quiz-question .answer-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
}

.section-quiz-question .answer-card .card__content {
  padding-bottom: 0;
}

.section-quiz-question .answer-card .card__information {
  padding: 0;
}

.section-quiz-question .slider-buttons>.slider-button {
  background: var(--gradient-background);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 22px);
  right: 1.5rem;
  border: 1px solid rgba(var(--color-foreground), .1)
}

.section-quiz-question .slider-buttons>.slider-button--prev {
  left: 1.5rem;
}

.section-quiz-question .slider-buttons>.slider-button--next {
  right: 1.5rem;
}

.section-quiz-question .slider-buttons>.slider-button .icon {
  height: 1.2rem;
}

/* Answer */
.quiz .answer-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz .answer-wrapper .media,
.quiz .answer-wrapper .text-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.quiz .answer-wrapper .text-wrapper h3 {
  margin-top: 0;
}

.quiz .answer-wrapper .text-wrapper h3 a {
  color: rgba(var(--color-link), var(--alpha-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.quiz .answer-wrapper .text-wrapper h3:hover a {
  color: rgb(var(--color-link));
  text-decoration-thickness: 0.2rem;
}

.quiz .answer-wrapper .card__information {
  margin-top: 0;
}

.quiz .answer-wrapper .card__information a.button {
  width: 100%;
  max-width: unset;
  margin-top: 0;
}

.quiz .answer-wrapper .accordion {
  margin-top: 0;
}

.quiz .answer-wrapper .media img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width:990px) {
  .quiz .answer-wrapper .media {
    width: 30%;
    margin: 0;
    padding: 0;
  }

  .quiz .answer-wrapper .text-wrapper {
    width: calc(70% - 1.5rem);
  }
}

/* New updates */
.quiz-question-wrapper {
  --page-width: 990px;
}

.question,
quiz-answer .title {
  line-height: .97em;
  letter-spacing: 0;
  margin-bottom: 3.8rem;
}

quiz-answer .title .match .no-match-header {
  display:none;
}

quiz-answer .title .no-match .match-header {
  display:none;
}

.answers-wrapper {
  margin-top: 0;
  --grid-mobile-horizontal-spacing: 1.8rem;
  --grid-mobile-vertical-spacing: 1.8rem;
  --grid-desktop-horizontal-spacing: 1.8rem;
  --grid-desktop-vertical-spacing: 1.8rem;
  justify-content: center;
}

.answer .card__heading {
  font-size: 1.8rem;
  line-height: 1.67em;
  letter-spacing: -4%;
  min-height: 0;
  padding: 1.1rem 2.1rem;
  justify-content: space-between;
  --border-opacity: 1 !important;
}

.answer__image-text .card {
  flex-direction: row !important;
}

.answer__image-text .card__inner {
  --ratio-percent: 0 !important;
  width: 141px;
  height: auto;
  aspect-ratio: 1.05;
  flex-shrink: 0;
}

.answer__image-text .card__heading {
  height: 100%;
  text-align: left;
  padding: 2.5rem 3.7rem 2.5rem 2.7rem;
  line-height: 20px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.answer .card__heading .icon-arrow {
  flex-shrink: 0;
}

.answer__image-text .card__heading .icon-arrow {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
}

.answers-wrapper .answer__image-text {
  max-width: 347px;
  margin: 0 auto;
}

@media screen and (max-width: 989px) {
  .answers-wrapper .answer__text-only {
    max-width: 256px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 990px) {

  .question,
  quiz-answer .title {
    margin-bottom: 4.8rem;
  }
}

/* Answer */
.quiz .answer-wrapper .media {
  max-width: 330px;
  margin: 0 auto;
}

/* .quiz .answer-wrapper .text-wrapper {
  padding: 0 2.5rem;
} */

.quiz .answer-wrapper .text-wrapper h3 {
  font-size: 2.2rem;
  line-height: 1.1em;
  letter-spacing: -4%;
  margin: 2.5rem 0 4rem;
}

.quiz .answer-wrapper .text-wrapper h3 a {
  text-underline-offset: 8px;
}

.answer-content p,
.text-wrapper .button-wrapper .button,
.accordion__title,
.accordion__content p {
  font-size: 1.8rem;
  line-height: 1.27em;
  letter-spacing: -0.72px;
}

.answer-content p:first-child {
  margin-top: 0;
}

.answer-content p:last-child {
  margin-bottom: 0;
}

.text-wrapper .button-wrapper {
  margin: 4rem auto 0;
}

.text-wrapper .button-wrapper .button {
  width: fit-content;
  min-height: 0;
  padding: 1rem 1.5rem;
}

.quiz-footer {
  margin-top: 4rem;
  display: flex;
  row-gap: 3.8rem;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.quiz-footer .custom-banner {
  width: 100%;
}

.quiz-footer .custom-banner img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 990px) {
  .quiz-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .quiz-footer .custom-banner,
  .section-featured-collection {
    width: calc(50% - 2rem);
  }

  .quiz-footer .custom-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}